.line {
  border: 1px solid #cbd2d9;
  width: 80%;
  border-radius: 5px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.restaurants-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .restaurants-list {
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: nowrap;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 1px solid black;
}

.page-numbers {
  color: #334155;
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

.button {
  border: none;
  background-color: transparent;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 10%;
}

@media screen and (min-width: 768px) {
  .restaurant-header {
    margin-top: 32px;
  }
}

.restaurant-list-heading {
  color: #183b56;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.restaurant-description {
  color: #64748b;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.sorting-container {
  margin-top: 7%;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .restaurant-list-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
  }

  .restaurant-description {
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
  }

  .sorting-container {
    margin: 0px;
  }
}

.sort-by-icon {
  width: 24px;
  height: 24px;
  color: #475569;
  margin-right: 6px;
}

.sort-by-text {
  color: #475569;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: normal;
  margin-right: 0px;
  padding-right: 0px;
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: normal;
  border: none;
  padding: 12px;
  padding-left: 0px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sort-by-text {
    font-weight: 500;
    margin: 0px;
  }

  .sort-by-select {
    font-weight: 500;
  }
}

.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}

.restaurants-list-loader {
  display: flex;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
